APP_ENV=development
LOG_LEVEL=INFO

MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<db>?retryWrites=true&w=majority
MONGO_DATABASE=ros2_rag
MONGO_COLLECTION=raw_data

QDRANT_URL=https://<cluster>.<region>.cloud.qdrant.io:6333
QDRANT_API_KEY=<qdrant_api_key>
QDRANT_COLLECTION=ros2_rag_chunks

HF_MODEL_NAME=ArmaanDhande/rag_model_t5_AI
HF_TOKEN=<huggingface_token_if_required>
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
