fastapi==0.115.12
uvicorn==0.32.1
pydantic==2.10.6
pydantic-settings==2.7.1
transformers==4.48.1
torch==2.5.1
qdrant-client==1.12.1
pymongo==4.10.1
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0
sentence-transformers==3.3.1
